.requests {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

.requests th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    width: 25%;
    background-color: green;
    border: 1px solid;
}

.requests td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(68, 66, 66);
    border: 1px solid;
}